<!DOCTYPE html>
<html>

<head>
<style>
body {background: pink;}


.btn-6i {
  border: 2px dotted #226fbe;
  border-radius: 60px;
}

.btn-6i:hover {
  background: transparent;
  color: #226fbe;
}

</style>
</head>

<body>
  <h1>BattleShips</h1>
  <%= yield %>
</body>

</html>